# Read the documentation: https://symfony.com/doc/master/bundles/FOSRestBundle/index.html
fos_rest:
  body_converter:
    enabled: true
    validate: true
    validation_errors_argument: validationErrors
  param_fetcher_listener:  true
  view:
      view_response_listener:  true
  format_listener:
      rules:
          - { path: ^/api, prefer_extension: true, fallback_format: json, priorities: [ json ] }
